/* footer.css */
footer {
    background-color: #2e2e2e;
    padding: 45px 0;
    color: #fff;
}
footer p {
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 20px;
}

footer small {
    font-size: 12px;
}