// color
$white: #fff;
$black: #000;
$fontB: bold;
$color-f1: #f1f1f1;
$color-33: #333;
$color-55: #555;

//font
$font-xs: 12px;
$font-sm: 14px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 26px;

//width
$fullWid : 100%;

//browser size
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-mobile: 580px;
$breakpoint-tablet: 980px;